### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
node_modules/
/bower_components

# misc
/.sass-cache
*.css.map
*.sass.map
*.scss.map
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.npm
.env

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Recycle Bin used on file shares
$RECYCLE.BIN/